/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  /* background-image: linear-gradient(to bottom right, #2D1468,#50348B, #D89B26); */
}

#header-box {
  /* background-color: #2D1468; */
  background-image: linear-gradient(to bottom right, #2D1468,#50348B, #D89B26);
  text-align: center;
  padding-top: 15px;
}

#header-box h1 {
  font-size: 6.5em;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  color: black;
  text-shadow: black;
  padding-bottom: 100px;
}

#each-villain {
  color: white;
  width: 300px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 8px 0px 0 rgba(255, 255, 255, 0.2);
  text-align: center;
}



#each-villain img {
  width: 300px;
}

#each-villain h3 {
}

#villains-list {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}

#nav-box {
  text-align: center;
  font-size: 2em;
}

#nav-box a {
  text-decoration: none;
  color: white;
}

#nav-box a:hover {
  color: black;
  background-color: #D89B26;
  font-weight: 400;
}